.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid $secondary-color;
	border-top-color: $primary-color;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	@media (max-width: 672px) {
		width: 40px;
		height: 40px;
		border: 2.5px solid $secondary-color;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
