.auth {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $background-color;
	padding: 40px 16px;
	box-sizing: border-box;

	@media (max-width: 480px) {
		padding: 0;
	}
	&__modal {
		width: 100%;
		max-width: 379px;
		border-radius: 30px;
		padding: 32px 24px;
		box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
		background: $card-bg;
		box-sizing: border-box;
	}
	&__wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		gap: 24px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		color: $text-color;
	}
}
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;
	}
	&__input {
		border: 0.5px solid $secondary-color;
		border-radius: 6px;
		padding: 12px;
		width: 100%;
		max-width: 313px;
		font-size: 12px;
		color: $text-color;
		background-color: transparent;
		transition: all 0.2s ease;
		&:active {
			border: 0.5px solid $secondary-color;
		}
		&:focus {
			border: 0.5px solid $secondary-color;
			outline: none;
		}
		&::placeholder {
			color: $secondary-color;
		}
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px $primary-bg inset;
			-webkit-text-fill-color: $text-color;
			transition: background-color 5000s ease-in-out 0s;
		}

		@media (max-width: 480px) {
			max-width: 100%;
		}
	}
	&__button {
		width: 100%;
		max-width: 313px;
		padding: 12px;
		border-radius: 6px;
		background: $primary-color;
		color: $text-secondary;
		font-weight: 600;
		font-size: 12px;
		cursor: pointer;
		&:hover {
			color: $primary-color;
			background-color: $background-color;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
		}

		@media (max-width: 480px) {
			max-width: 100%;
		}
	}
	&__group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
	}
	&__text {
		margin: 0;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		line-height: 150%;
		color: $secondary-color;
	}
	&__link {
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		line-height: 150%;
		color: $secondary-color;
		text-decoration: underline;
	}
}
