.wrapper {
	@media (max-width: 672px) {
		padding: 0 12px;
	}
}

.title {
	font-size: 32px;
	font-weight: 700;
	margin-top: 36px;
	@media (max-width: 672px) {
		font-size: 24px;
		margin-bottom: 24px;
		margin-top: 12px;
	}
}

.content {
	display: flex;
	gap: 32px;
	margin-top: 32px;
	margin-bottom: 60px;
}

.backBtn {
	display: flex;
	align-items: center;
	gap: 7px;
	outline: none;
	border: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 150%;
	color: $secondary-color;
	background-color: transparent;
	margin-top: 24px;
}

.left {
	width: 380px;
	height: 540px;
	flex-shrink: 0;
}

.right {
	flex-grow: 1;
}

.switchBtn {
	position: fixed;
	bottom: 24px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 90vw;
	padding: 12px;
	background: #7334ea;
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	border: none;
	border-radius: 6px;
	z-index: 100;
	display: block;
	transition: 0.2s;
	text-align: center;
}
