.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 36px;
}

.content {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.left {
  width: 380px;
  height: 540px;
  flex-shrink: 0;
}

.right {
  flex-grow: 1;
}

.switchBtn {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90vw;
  padding: 12px;
  background: #7334ea;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  z-index: 100;
  display: block;
  transition: 0.2s;
  text-align: center;
}
