.container {
  background: #fff;
  border-radius: 30px;
  padding: 0px;
  box-sizing: border-box;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}

.total {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 12px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.subtitle {
  color: #999;
  font-size: 14px;
  margin: 4px 0 20px;
  padding-left: 32px;
  padding-right: 32px;
}
.graph__container {
  padding-left: 18px;
  padding-right: 32px;
}
