.container {
	width: 379px;
	background-color: $card-bg;
	box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
	padding: 32px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	grid-column: span 2 / span 2;
	grid-row: span 5 / span 5;
	grid-column-start: 4;
}

.title {
	font-weight: 700;
	font-size: 24px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.label {
	display: block;
	font-weight: 600;
	font-size: 16px;
}

.input {
	width: 100%;
	border: 1px solid #d1d5db;
	padding: 0.5rem;
	border-radius: 0.375rem;
	margin-top: 0.25rem;

	&:focus {
		outline: none;
		border-color: $primary-color;
		box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.2);
	}
}

.categoryButtons {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.categoryButton {
	padding: 8px 20px;
	border-radius: 30px;
	border: none;
	background-color: $background-color;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 12px;

	:hover {
		color: $primary-color;
		span svg {
			fill: $primary-color;
		}
	}

	.categoryIcons {
		:hover {
			fill: $primary-color;
		}
		:active {
			fill: $primary-color;
		}
	}

	&.active {
		background-color: $primary-bg;
		color: $primary-color;
		span svg {
			fill: $primary-color;
		}
	}
}
