body {
	background-color: $background-color;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	::selection {
		background-color: $primary-color;
		color: $background-color;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
	--color-primary: white;
	--color-secondary: black;
	--colog-bg: #f4f5f6;
	--color-tertiary: rgba(113, 190, 220, 1);

	--max-width: 1200px;
	--padding-container: 20px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: var(--color-secondary);
	background-color: var(--colog-bg);
	height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	overflow: hidden;
	max-width: var(--max-width);
	margin: 0 auto;
	padding-left: var(--padding-container);
	padding-right: var(--padding-container);
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}
